{% extends 'base.html' %}
{% block content %}
<h2>Tratamentos</h2>
<a href="{% url 'tratamento_create' %}">Novo Tratamento</a>
<ul>
    {% for tratamento in tratamentos %}
        <li>
            {{ tratamento.nome }} - {{ tratamento.descricao }}
            [<a href="{% url 'tratamento_edit' tratamento.pk %}">Editar</a>]
            [<a href="{% url 'tratamento_delete' tratamento.pk %}">Remover</a>]
        </li>
    {% empty %}
        <li>Nenhum tratamento registrado.</li>
    {% endfor %}
</ul>
{% endblock %}